/* Header block */
.header {
  background: transparent;
  top: 0;
  transition: .5s ease-in-out;
  z-index: 3;
}

/* Navbar block */
/* Brand element */
.navbar__brand {
  text-align: center;
}

/* Logo element */
.navbar__logo {
  width: 5.16rem;
  height: 2.125rem;
}