body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Buttons */

.p-button.p-component {
  background-color: #0074cc;
  border: 1px solid #0074cc;
}

.p-button.button {
  width: 100%;
  border-radius: 32px;
}

.p-button.button--red{
  background-color: #d51021;
  border-color: #d51021;
}

/* Forms */
.form {
  width: 100%;
}
.form--heading {
  display: block;
  margin-bottom: 2rem;
}

/* Heading */

.title {
  color: #43425D;
  font-size: 1.75rem;
}

/* Inputs */
.input--hidden {
  display: none;
}

.subtitle {
  color: #43425D;
  font-size: 1rem;
}
/* Labels */
input.p-error ~ label {
  color: #a80000;;
}

/* Margins */
.m-bottom-15 {
  margin-bottom: 1.5rem;
}

/* Steps */
.steps--register > ul {
  display: flex;
  justify-content: center;
}

/* Text */
.text--centered {
  text-align: center;
}

.text--small {
  font-size: small;
}