body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  width: 100%;
}

.p-button.button--blue {
  background-color: #0074cc;
  border-color:  #0074cc;
}

.p-button.button--red{
  background-color: #d51021;
  border-color: #d51021;
}

.form-title {
  color: #43425D;
  text-align: center;
}